.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding: 1rem 2rem;
    z-index: 3;
    position:fixed;
    background-color: rgb(30,30,30);
    
}
.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}
.menuListItem{
    margin: 2rem;
    cursor: pointer;
    font-size: 1.1rem;

}
.menuListItem:hover{
    color: red;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(235, 27, 27);
}
@media screen and (max-width:480px) {
    .navbar{
overflow-x: hidden;
    }
    .menuListItem{
        margin: 0.29rem;
    }
}


